@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="col-md-6 align-items-center">
    <h1>@ViewData["Title"]</h1>

    <p>!!!!!YOUR PRIVACY IS IN MY HANDS!!!!!.</p>

    <div class="col-md-6 d-flex align-items-center">
        <div class="mx-auto">
            <!-- Replace the src attribute with the URL of your image -->
            <img src="~/profile.jpg" style="width: 300px; height: 300px; border-radius: 100%;" class="img-fluid">
        </div>
    </div>
</div>