@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
    <h1>@ViewData["Title"]</h1>

    <p>!!!!!YOUR PRIVACY IS IN MY HANDS!!!!!.</p>

    <div class="mx-auto">
        <!-- Replace the src attribute with the URL of your image -->
        <img src="~/Emo.png" style="width: 300px; height: 300px; border-radius: 100%;" class="img-fluid">
    </div>
</div>
